C 0 -100 "CRYSTAL__1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CRYSTAL__1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 1700 -100 "GND_1" 1700 -100 0 0 60 0 R
X "PIN_TEXT" "GND_1" 1470 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -100 1700 -100 -1 0
C 1700 0 "CRYSTAL__2" 1700 0 0 0 60 0 R
X "PIN_TEXT" "CRYSTAL__2" 1470 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 0 1700 0 -1 0
C 0 0 "GND_2" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
L 200 100 1500 100 -1 0
L 1500 -200 1500 100 -1 0
L 1500 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 1550 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

